In [60]:
import numpy as np
import pandas as pd
import re

## Carga de datasets

In [61]:
#Data Telefonía Movil

movil_ingresos_trim=pd.read_csv("Telefonía Movil/Ingresos_trimestrales_telefonía móvil.csv")
movil_accesos_trim=pd.read_csv("Telefonía Movil/Penetración_nacional_telefonia_movil-accesos_cada_100_hab.csv")
movil_altas_mens=pd.read_csv("Telefonía Movil/Portabilidad_altas_mensuales_por_operador.csv")
movil_minutos_trim=pd.read_csv("Telefonía Movil/Trafico_suscriptores_telefonia_movil-miles_de_minutos.csv")

In [62]:
#Data Telefonía Fija

#Data Nacional
n_fija_ingresos_trim=pd.read_csv("Telefonia Fija/Ingresos_trimestrales_telefonía fija.csv")
n_fija_accesos_habitantes_trim=pd.read_csv("Telefonia Fija/Penetración_total_nacional_telefonía_fija_por_trimestre.csv")

#Data Provincia
p_fija_accesos_tipos_trim=pd.read_csv("Telefonia Fija/Accesos_telefonía_fija_por_provincia-hogares-comercios-gobierno-otros.csv")
p_fija_accesos_habitantes_trim=pd.read_csv("Telefonia Fija/Penetración_provincial_telefonia_fija_accesos_cada_100_hogares.csv")

In [63]:
#Data Internet

#Data Nacional

n_internet_ingresos_trim=pd.read_csv("Internet/Ingresos_trimestrales_prestación_servicio_Internet_fijo.csv")
n_internet_tipo_trim=pd.read_csv("Internet/Serie_trimestral_accesos_Internet_fijo_por_tecnología.csv")
n_internet_accesos_velocidadMedia_trim=pd.read_csv("Internet\Velocidad_Media_de_bajada_Internet_fijo.csv")

#Data Provincia

p_internet_accesos_tecnologia_trim=pd.read_csv("Internet/Acceso_Internet_fijo_por_tecnología_y_provincia.csv")
p_internet_accesos_habitantes_trim=pd.read_csv("Internet/Penetración_de _Internet fijo _(accesos _cada_100 hogares).csv")
p_internet_accesos_velocidadMedia_trim=pd.read_csv("Internet/Velocidad_media_bajada_Internet_fijo_por_provincia.csv")

## Transformación de datos Telefonía Móvil

In [64]:
movil_ingresos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    37 non-null     int64
 1   Trimestre              37 non-null     int64
 2   Ingresos (miles de $)  37 non-null     object
 3   Periodo                37 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

In [65]:
# Extraer solo los dígitos numéricos
movil_ingresos_trim['Ingresos (miles de $)'] = movil_ingresos_trim['Ingresos (miles de $)'].apply(lambda x: int(re.sub(r'[^\d]', '', x)))

# Verificar los cambios en la columna
print(movil_ingresos_trim['Ingresos (miles de $)'])

0      13135235
1      13970806
2      15235659
3      16218846
4      15938353
5      17680972
6      18976053
7      20012332
8      19337342
9      19945453
10     21785238
11     24881967
12     24763052
13     25353971
14     27416177
15     30143233
16     31205565
17     33509264
18     35711689
19     38110028
20     38733946
21     40653502
22     43280089
23     44026803
24     50246691
25     55338816
26     60905891
27     65388842
28     72077147
29     73538944
30     79634755
31     83479114
32     93112153
33    104782020
34    117751925
35    127389786
36    130454716
Name: Ingresos (miles de $), dtype: int64

In [66]:
# Eliminar la columna "periodo"
movil_ingresos_trim = movil_ingresos_trim.drop(columns=['Periodo'])

# Verificar el DataFrame después de eliminar la columna
print(movil_ingresos_trim.head())

    Año  Trimestre  Ingresos (miles de $)
0  2013          1               13135235
1  2013          2               13970806
2  2013          3               15235659
3  2013          4               16218846
4  2014          1               15938353

In [67]:
movil_accesos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       37 non-null     int64
 1   Trimestre                 37 non-null     int64
 2   Accesos por cada 100 hab  37 non-null     int64
 3   Periodo                   37 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

In [68]:
# Eliminar la columna "periodo"
movil_accesos_trim = movil_accesos_trim.drop(columns=['Periodo'])

# Verificar el DataFrame después de eliminar la columna
print(movil_accesos_trim.head())

    Año  Trimestre  Accesos por cada 100 hab
0  2013          1                       154
1  2013          2                       156
2  2013          3                       159
3  2013          4                       159
4  2014          1                       148

In [69]:
movil_altas_mens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Año            120 non-null    int64
 1   Mes            120 non-null    int64
 2   Personal       120 non-null    object
 3   Claro          120 non-null    object
 4   Nextel         78 non-null     float64
 5   Movistar       120 non-null    object
 6   Total general  120 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 6.7+ KB

In [70]:

# Eliminar las comas de las columnas antes de la conversión a entero
columnas_a_convertir = ['Personal', 'Claro', 'Nextel', 'Movistar', 'Total general']
movil_altas_mens[columnas_a_convertir] = movil_altas_mens[columnas_a_convertir].replace(',', '', regex=True).fillna(0).astype(int)

# Verificar el DataFrame después de la conversión
print(movil_altas_mens.dtypes)

Año              int64
Mes              int64
Personal         int32
Claro            int32
Nextel           int32
Movistar         int32
Total general    int32
dtype: object

In [71]:
movil_altas_mens.head()

    Año  Mes  Personal   Claro  Nextel  Movistar  Total general
0  2022    2     71090   98497       0     95792         265379
1  2022    1     73717   88856       0     96240         258813
2  2021   12     75534  116284       0    102538         294356
3  2021   11     81311  126052       0    104985         312348
4  2021   10     59953  109684       0     94402         264039

In [72]:
movil_minutos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 37 non-null     int64
 1   Trimestre                           37 non-null     int64
 2   Minutos pospago salientes (miles)   37 non-null     object
 3   Minutos prepago salientes (miles)   37 non-null     int64
 4   Total de minutos salientes (miles)  37 non-null     int64
 5   Periodo                             37 non-null     object
dtypes: int64(4), object(2)
memory usage: 1.9+ KB

In [73]:
movil_minutos_trim.head()

,Año,Trimestre,Minutos pospago salientes (miles),Minutos prepago salientes (miles),Total de minutos salientes (miles),Periodo
0,2013,1,8.785.943,6582117,15368060,Ene-Mar 2013
1,2013,2,9.512.689,7108640,16621329,Abr-Jun 2013
2,2013,3,10.315.484,7335154,17650638,Jul-Sept 2013
3,2013,4,9.809.515,6250549,16060064,Oct-Dic 2013
4,2014,1,10.128.751,5799223,15927974,Ene-Mar 2013

In [74]:
# Eliminar los puntos de la columna "Minutos pospago salientes (miles)"
movil_minutos_trim['Minutos pospago salientes (miles)'] = movil_minutos_trim['Minutos pospago salientes (miles)'].str.replace('.', '')

In [75]:
# Convertir la columna "Minutos pospago salientes (miles)" a tipo entero (int)
movil_minutos_trim['Minutos pospago salientes (miles)'] = movil_minutos_trim['Minutos pospago salientes (miles)'].astype(int)

In [76]:
# Eliminar la columna "periodo"
movil_minutos_trim = movil_minutos_trim.drop(columns=['Periodo'])

In [77]:
movil_minutos_trim.head()

,Año,Trimestre,Minutos pospago salientes (miles),Minutos prepago salientes (miles),Total de minutos salientes (miles)
0,2013,1,8785943,6582117,15368060
1,2013,2,9512689,7108640,16621329
2,2013,3,10315484,7335154,17650638
3,2013,4,9809515,6250549,16060064
4,2014,1,10128751,5799223,15927974

## Transformación de datos Telefonía Fija

In [78]:
n_fija_ingresos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    33 non-null     int64
 1   Trimestre              33 non-null     int64
 2   Ingresos (miles de $)  33 non-null     object
dtypes: int64(2), object(1)
memory usage: 924.0+ bytes

In [79]:
n_fija_ingresos_trim.head()

    Año  Trimestre Ingresos (miles de $)
0  2014          1          2.916.071,75
1  2014          2           2.974.865,2
2  2014          3          3.105.462,02
3  2014          4           3.339.690,9
4  2015          1          3.260.124,75

In [84]:
#Eliminar los puntos 
n_fija_ingresos_trim['Ingresos (miles de $)'] = n_fija_ingresos_trim	['Ingresos (miles de $)'].str.replace('.', '')
n_fija_ingresos_trim['Ingresos (miles de $)'] = n_fija_ingresos_trim	['Ingresos (miles de $)'].str.replace(',', '.')

In [85]:
# Convertir la columna  a tipo entero (int)
n_fija_ingresos_trim['Ingresos (miles de $)'] = n_fija_ingresos_trim['Ingresos (miles de $)'].astype(float)
# Verificar el DataFrame después de la conversión
print(n_fija_ingresos_trim.dtypes)

Año                        int64
Trimestre                  int64
Ingresos (miles de $)    float64
dtype: object

In [87]:
n_fija_ingresos_trim.head()

    Año  Trimestre  Ingresos (miles de $)
0  2014          1             2916071.75
1  2014          2             2974865.20
2  2014          3             3105462.02
3  2014          4             3339690.90
4  2015          1             3260124.75

In [88]:
n_fija_accesos_habitantes_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Año                                          33 non-null     int64
 1   Trimestre                                    33 non-null     int64
 2   Accesos telefonía fija por cada 100 hab      33 non-null     object
 3   Accesos telefonía fija por cada 100 hogares  33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [89]:
# Eliminar las comas de las columnas
n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'] = n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'].str.replace(',', '.')
n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'] = n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'].str.replace(',', '.')

# Convertir las columnas a tipo float
n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'] = n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'].astype(float)
n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'] = n_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'].astype(float)

# Verificar el DataFrame después de la conversión
print(n_fija_accesos_habitantes_trim.dtypes)

Año                                              int64
Trimestre                                        int64
Accesos telefonía fija por cada 100 hab        float64
Accesos telefonía fija por cada 100 hogares    float64
dtype: object

In [90]:
n_fija_accesos_habitantes_trim.head()

,Año,Trimestre,Accesos telefonía fija por cada 100 hab,Accesos telefonía fija por cada 100 hogares
0,2022,1,16.96,54.71
1,2021,4,16.74,53.88
2,2021,3,15.41,49.64
3,2021,2,15.62,50.35
4,2021,1,15.92,51.36

In [91]:
p_fija_accesos_tipos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 792 non-null    int64
 1   Trimestre                           792 non-null    int64
 2   Provincia                           792 non-null    object
 3   Accesos telefonía fija (total)      792 non-null    object
 4   Accesos telefonía fija (hogares)    792 non-null    object
 5   Accesos telefonía fija (comercial)  792 non-null    float64
 6   Accesos telefonía fija (gobierno)   792 non-null    float64
 7   Accesos telefonía fija (otros)      792 non-null    float64
dtypes: float64(3), int64(2), object(3)
memory usage: 49.6+ KB

In [92]:
# Eliminar puntos de las columnas
p_fija_accesos_tipos_trim['Accesos telefonía fija (total)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (total)'].str.replace('.', '')
p_fija_accesos_tipos_trim['Accesos telefonía fija (hogares)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (hogares)'].str.replace('.', '')

In [93]:
# Convertir las columnas a tipo int
p_fija_accesos_tipos_trim['Accesos telefonía fija (total)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (total)'].astype(int)
p_fija_accesos_tipos_trim['Accesos telefonía fija (hogares)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (hogares)'].astype(int)

p_fija_accesos_tipos_trim['Accesos telefonía fija (comercial)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (comercial)'].astype(int)
p_fija_accesos_tipos_trim['Accesos telefonía fija (gobierno)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (gobierno)'].astype(int)
p_fija_accesos_tipos_trim['Accesos telefonía fija (otros)'] = p_fija_accesos_tipos_trim['Accesos telefonía fija (otros)'].astype(int)

# Verificar el DataFrame después de la conversión
print(p_fija_accesos_tipos_trim.dtypes)

Año                                    int64
Trimestre                              int64
Provincia                             object
Accesos telefonía fija (total)         int32
Accesos telefonía fija (hogares)       int32
Accesos telefonía fija (comercial)     int32
Accesos telefonía fija (gobierno)      int32
Accesos telefonía fija (otros)         int32
dtype: object

In [94]:
p_fija_accesos_tipos_trim.head()

,Año,Trimestre,Provincia,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros)
0,2022,1,Buenos Aires,3340707,3044152,230,14,50
1,2022,1,Capital Federal,1508031,1374162,104,6,22
2,2022,1,Catamarca,30167,27489,2,134,458
3,2022,1,Chaco,84847,77315,5,377,1
4,2022,1,Chubut,72602,66157,5,322,1

In [95]:
p_fija_accesos_habitantes_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 5 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Año                                          792 non-null    int64
 1   Trimestre                                    792 non-null    int64
 2   Provincia                                    792 non-null    object
 3   Accesos telefonía fija por cada 100 hab      792 non-null    object
 4   Accesos telefonía fija por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(3)
memory usage: 31.1+ KB

In [96]:

# Eliminar comas de las columnas
p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'] = p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'].str.replace(',', '.')
p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'] = p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'].str.replace(',', '.')

In [97]:
# Convertir las columnas a tipo int
p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'] =p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hab'].astype(float)
p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'] = p_fija_accesos_habitantes_trim['Accesos telefonía fija por cada 100 hogares'].astype(float)


# Verificar el DataFrame después de la conversión
print(p_fija_accesos_habitantes_trim.dtypes)

Año                                              int64
Trimestre                                        int64
Provincia                                       object
Accesos telefonía fija por cada 100 hab        float64
Accesos telefonía fija por cada 100 hogares    float64
dtype: object

In [98]:
p_fija_accesos_habitantes_trim.head()

,Año,Trimestre,Provincia,Accesos telefonía fija por cada 100 hab,Accesos telefonía fija por cada 100 hogares
0,2014,1,Buenos Aires,26.72,85.26
1,2014,1,Capital Federal,52.66,128.57
2,2014,1,Catamarca,10.03,39.45
3,2014,1,Chaco,9.09,34.02
4,2014,1,Chubut,17.66,57.59

## Transformación de datos Internet

In [99]:
n_internet_ingresos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        33 non-null     int64
 1   Trimestre                  33 non-null     int64
 2   Ingresos (miles de pesos)  33 non-null     object
 3   Periodo                    33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [100]:
#Eliminar los puntos de la columna Ingresos (miles de pesos)
n_internet_ingresos_trim['Ingresos (miles de pesos)'] = n_internet_ingresos_trim['Ingresos (miles de pesos)'].str.replace('.', '')

In [101]:
# Convertir la columna "Ingresos (miles de pesos)" a tipo entero (int)
n_internet_ingresos_trim['Ingresos (miles de pesos)'] = n_internet_ingresos_trim['Ingresos (miles de pesos)'].astype(int)
# Verificar el DataFrame después de la conversión
print(n_internet_ingresos_trim.dtypes)

Año                           int64
Trimestre                     int64
Ingresos (miles de pesos)     int32
Periodo                      object
dtype: object

In [102]:
# Eliminar la columna "periodo"
n_internet_ingresos_trim = n_internet_ingresos_trim.drop(columns=['Periodo'])

In [103]:
n_internet_ingresos_trim.head()

    Año  Trimestre  Ingresos (miles de pesos)
0  2022          1                   51432896
1  2021          4                   45467887
2  2021          3                   42999944
3  2021          2                   38239667
4  2021          1                   36676371

In [104]:
n_internet_tipo_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           33 non-null     int64
 1   Trimestre     33 non-null     int64
 2   ADSL          33 non-null     object
 3   Cablemodem    33 non-null     object
 4   Fibra óptica  33 non-null     object
 5   Wireless      33 non-null     float64
 6   Otros         33 non-null     float64
 7   Total         33 non-null     object
 8   Periodo       33 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.4+ KB

In [105]:
#Eliminar los puntos 
n_internet_tipo_trim['ADSL'] = n_internet_tipo_trim['ADSL'].str.replace('.','')
n_internet_tipo_trim['Cablemodem'] = n_internet_tipo_trim['Cablemodem'].str.replace('.','')
n_internet_tipo_trim['Fibra óptica'] = n_internet_tipo_trim['Fibra óptica'].str.replace('.','')
n_internet_tipo_trim['Total'] = n_internet_tipo_trim['Total'].str.replace('.','')

n_internet_tipo_trim['Wireless'] = n_internet_tipo_trim['Wireless'].replace('.','')
n_internet_tipo_trim['Otros'] = n_internet_tipo_trim['Otros'].replace('.','')

In [106]:
#Convertir a tipo Int
n_internet_tipo_trim['ADSL'] = n_internet_tipo_trim['ADSL'].astype(int)
n_internet_tipo_trim['Cablemodem'] = n_internet_tipo_trim['Cablemodem'].astype(int)
n_internet_tipo_trim['Fibra óptica'] = n_internet_tipo_trim['Fibra óptica'].astype(int)
n_internet_tipo_trim['Total'] = n_internet_tipo_trim['Total'].astype(int)

n_internet_tipo_trim['Wireless'] = n_internet_tipo_trim['Wireless'].astype(int)
n_internet_tipo_trim['Otros'] = n_internet_tipo_trim['Otros'].astype(int)

# Verificar el DataFrame después de la conversión
print(n_internet_tipo_trim.dtypes)

Año              int64
Trimestre        int64
ADSL             int32
Cablemodem       int32
Fibra óptica     int32
Wireless         int32
Otros            int32
Total            int32
Periodo         object
dtype: object

In [107]:
# Eliminar la columna "periodo"
n_internet_tipo_trim = n_internet_tipo_trim.drop(columns=['Periodo'])

In [108]:
n_internet_tipo_trim.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,1533240,6073426,2219533,545,251,10624009
1,2021,4,1657615,5984240,2072236,523,252,10489794
2,2021,3,1950631,5826257,1566048,492,250,10085541
3,2021,2,2018587,5641731,1472246,476,253,9863084
4,2021,1,2175211,5424782,1362976,434,250,9647972

In [109]:
n_internet_accesos_velocidadMedia_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     33 non-null     int64
 1   Trimestre               33 non-null     int64
 2   Mbps (Media de bajada)  33 non-null     object
 3   Trimestre.1             33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [110]:
#Cambiar coma a punto
n_internet_accesos_velocidadMedia_trim['Mbps (Media de bajada)'] = n_internet_accesos_velocidadMedia_trim['Mbps (Media de bajada)'].str.replace(',','.')

In [111]:
#Convertir a tipo float
n_internet_accesos_velocidadMedia_trim['Mbps (Media de bajada)'] = n_internet_accesos_velocidadMedia_trim['Mbps (Media de bajada)'].astype(float)
# Verificar el DataFrame después de la conversión
print(n_internet_accesos_velocidadMedia_trim.dtypes)

Año                         int64
Trimestre                   int64
Mbps (Media de bajada)    float64
Trimestre.1                object
dtype: object

In [112]:
# Eliminar la columna Trimestre.1
n_internet_accesos_velocidadMedia_trim.drop(columns=['Trimestre.1'], inplace=True)

In [113]:
n_internet_accesos_velocidadMedia_trim.head()

    Año  Trimestre  Mbps (Media de bajada)
0  2022          1                   55.11
1  2021          4                   52.34
2  2021          3                   48.46
3  2021          2                   45.63
4  2021          1                   43.11

In [114]:
p_internet_accesos_tecnologia_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           793 non-null    object
 1   Trimestre     793 non-null    object
 2   Provincia     792 non-null    object
 3   ADSL          792 non-null    object
 4   Cablemodem    792 non-null    object
 5   Fibra óptica  792 non-null    object
 6   Wireless      792 non-null    object
 7   Otros         792 non-null    float64
 8   Total         792 non-null    object
dtypes: float64(1), object(8)
memory usage: 55.9+ KB

In [115]:
#Eliminar los puntos 
p_internet_accesos_tecnologia_trim['ADSL'] = p_internet_accesos_tecnologia_trim['ADSL'].str.replace('.','')
p_internet_accesos_tecnologia_trim['Cablemodem'] = p_internet_accesos_tecnologia_trim['Cablemodem'].str.replace('.','')
p_internet_accesos_tecnologia_trim['Fibra óptica'] = p_internet_accesos_tecnologia_trim['Fibra óptica'].str.replace('.','')

In [116]:
p_internet_accesos_tecnologia_trim['Wireless'] = p_internet_accesos_tecnologia_trim['Wireless'].replace('\.', '', regex=True)
p_internet_accesos_tecnologia_trim['Total'] = p_internet_accesos_tecnologia_trim['Total'].replace('\.', '', regex=True)

In [117]:
# Convertir la columna 'Otros' a tipo string (str)
p_internet_accesos_tecnologia_trim['Otros'] = p_internet_accesos_tecnologia_trim['Otros'].astype(str)

# Eliminar los puntos y las comas de la columna 'Otros'
p_internet_accesos_tecnologia_trim['Otros'] = p_internet_accesos_tecnologia_trim['Otros'].str.replace('[,.]', '', regex=True)

In [119]:

# Función para limpiar la cadena y convertirla a entero
def limpiar_cadena(cadena):
    # Reemplazar los caracteres no numéricos por una cadena vacía
    cadena_limpia = ''.join(filter(str.isdigit, str(cadena)))
    # Devolver el resultado convertido a entero
    return int(cadena_limpia) if cadena_limpia else 0

# Reemplazar valores no numéricos y NaN por 0 en las columnas antes de la conversión a tipo entero
columnas_a_convertir = ['ADSL', 'Cablemodem', 'Fibra óptica', 'Total', 'Wireless', 'Otros']
for columna in columnas_a_convertir:
    p_internet_accesos_tecnologia_trim[columna] = p_internet_accesos_tecnologia_trim[columna].replace(['-', '- 0'], 0)
    p_internet_accesos_tecnologia_trim[columna] = p_internet_accesos_tecnologia_trim[columna].apply(limpiar_cadena)


# Verificar el DataFrame después de la conversión
print(p_internet_accesos_tecnologia_trim.dtypes)

Año             object
Trimestre       object
Provincia       object
ADSL             int64
Cablemodem       int64
Fibra óptica     int64
Wireless         int64
Otros            int64
Total            int64
dtype: object

In [120]:

# Función para limpiar la cadena y convertirla a entero
def limpiar_cadena(cadena):
    # Reemplazar los caracteres no numéricos por una cadena vacía
    cadena_limpia = ''.join(filter(str.isdigit, str(cadena)))
    # Devolver el resultado convertido a entero
    return int(cadena_limpia) if cadena_limpia else 0

# Limpiar valores en las columnas 'Año' y 'Trimestre'
p_internet_accesos_tecnologia_trim['Año'] = p_internet_accesos_tecnologia_trim['Año'].apply(limpiar_cadena)
p_internet_accesos_tecnologia_trim['Trimestre'] = p_internet_accesos_tecnologia_trim['Trimestre'].apply(limpiar_cadena)

# Convertir las columnas a tipo entero (int)
p_internet_accesos_tecnologia_trim['Año'] = p_internet_accesos_tecnologia_trim['Año'].astype(int)
p_internet_accesos_tecnologia_trim['Trimestre'] = p_internet_accesos_tecnologia_trim['Trimestre'].astype(int)

# Verificar el DataFrame después de la conversión
print(p_internet_accesos_tecnologia_trim.dtypes)

Año              int32
Trimestre        int32
Provincia       object
ADSL             int64
Cablemodem       int64
Fibra óptica     int64
Wireless         int64
Otros            int64
Total            int64
dtype: object

In [121]:
p_internet_accesos_tecnologia_trim.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392045,2728865,1242121,125521,66872,4555424
1,2022,1,Capital Federal,102290,1217225,62308,5784,29934,1417541
2,2022,1,Catamarca,14181,15517,29118,1328,2234,62378
3,2022,1,Chaco,32391,64546,36662,8164,2356,144119
4,2022,1,Chubut,44133,66667,9184,30592,21052,171628

In [122]:
p_internet_accesos_habitantes_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(2)
memory usage: 24.9+ KB

In [123]:
#Cambiar coma a punto
p_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'] = p_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'].str.replace(',','.')

In [124]:
#Convertir a tipo float
p_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'] = p_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'].astype(float)
# Verificar el DataFrame después de la conversión
print(p_internet_accesos_habitantes_trim.dtypes)

Año                               int64
Trimestre                         int64
Provincia                        object
Accesos por cada 100 hogares    float64
dtype: object

In [125]:
p_internet_accesos_habitantes_trim.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          1     Buenos Aires                         76.08
1  2022          1  Capital Federal                        111.80
2  2022          1        Catamarca                         58.21
3  2022          1            Chaco                         44.06
4  2022          1           Chubut                         88.05

In [126]:
p_internet_accesos_velocidadMedia_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     792 non-null    int64
 1   Trimestre               792 non-null    int64
 2   Provincia               792 non-null    object
 3   Mbps (Media de bajada)  792 non-null    int64
dtypes: int64(3), object(1)
memory usage: 24.9+ KB

In [127]:
p_internet_accesos_velocidadMedia_trim.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          1     Buenos Aires                      63
1  2022          1  Capital Federal                      88
2  2022          1        Catamarca                      51
3  2022          1            Chaco                      46
4  2022          1           Chubut                      13

## Exportar los datos transformados a csv

In [132]:
#Datos Telefonía móvil

# Rutas específicas para guardar los archivos CSV
ruta_archivo_ingresos = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Ingresos_trimestrales_telefonía_móvil_transformado.csv"
ruta_archivo_accesos = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Penetración_nacional_telefonía_móvil_transformado.csv"
ruta_archivo_altas = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Portabilidad_altas_mensuales_por_operador_transformado.csv"
ruta_archivo_minutos = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Trafico_suscriptores_telefonía_móvil_transformado.csv"

# Exportar cada DataFrame a su respectivo archivo CSV en las rutas específicas
movil_ingresos_trim.to_csv(ruta_archivo_ingresos, index=False)
movil_accesos_trim.to_csv(ruta_archivo_accesos, index=False)
movil_altas_mens.to_csv(ruta_archivo_altas, index=False)
movil_minutos_trim.to_csv(ruta_archivo_minutos, index=False)

In [133]:
#Datos Telefonía Fija

# Rutas específicas para guardar los archivos CSV de telefonía fija
ruta_archivo_n_fija_ingresos_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Ingresos_trimestrales_telefonía_fija_transformado.csv"
ruta_archivo_n_fija_accesos_habitantes_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Penetración_total_nacional_telefonía_fija_por_trimestre_transformado.csv"
ruta_archivo_p_fija_accesos_tipos_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Accesos_telefonía_fija_por_provincia-hogares-comercios-gobierno-otros_transformado.csv"
ruta_archivo_p_fija_accesos_habitantes_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Penetración_provincial_telefonía_fija_accesos_cada_100_hogares_transformado.csv"

# Exportar cada DataFrame a su respectivo archivo CSV en las rutas específicas
n_fija_ingresos_trim.to_csv(ruta_archivo_n_fija_ingresos_trim, index=False)
n_fija_accesos_habitantes_trim.to_csv(ruta_archivo_n_fija_accesos_habitantes_trim, index=False)
p_fija_accesos_tipos_trim.to_csv(ruta_archivo_p_fija_accesos_tipos_trim, index=False)
p_fija_accesos_habitantes_trim.to_csv(ruta_archivo_p_fija_accesos_habitantes_trim, index=False)

In [134]:
#Datos Internet

# Rutas específicas para guardar los archivos CSV de Internet
ruta_archivo_n_internet_ingresos_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Ingresos_trimestrales_prestación_servicio_Internet_fijo_transformado.csv"
ruta_archivo_n_internet_tipo_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Serie_trimestral_accesos_Internet_fijo_por_tecnología_transformado.csv"
ruta_archivo_n_internet_accesos_velocidadMedia_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Velocidad_Media_de_bajada_Internet_fijo_transformado.csv"
ruta_archivo_p_internet_accesos_tecnologia_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Acceso_Internet_fijo_por_tecnología_y_provincia_transformado.csv"
ruta_archivo_p_internet_accesos_habitantes_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Penetración_de _Internet_fijo_(accesos_cada_100_hogares)_transformado.csv"
ruta_archivo_p_internet_accesos_velocidadMedia_trim = r"C:\Users\pc\Desktop\Datasets\Datasets transformados\Velocidad_media_bajada_Internet_fijo_por_provincia_transformado.csv"

# Exportar cada DataFrame a su respectivo archivo CSV en las rutas específicas
n_internet_ingresos_trim.to_csv(ruta_archivo_n_internet_ingresos_trim, index=False)
n_internet_tipo_trim.to_csv(ruta_archivo_n_internet_tipo_trim, index=False)
n_internet_accesos_velocidadMedia_trim.to_csv(ruta_archivo_n_internet_accesos_velocidadMedia_trim, index=False)
p_internet_accesos_tecnologia_trim.to_csv(ruta_archivo_p_internet_accesos_tecnologia_trim, index=False)
p_internet_accesos_habitantes_trim.to_csv(ruta_archivo_p_internet_accesos_habitantes_trim, index=False)
p_internet_accesos_velocidadMedia_trim.to_csv(ruta_archivo_p_internet_accesos_velocidadMedia_trim, index=False)